<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />

    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

    <link href="/static/mystyle.css" rel="stylesheet" />
    <title>BH STUDIO</title>
    <script>
        const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString)
        const writeId = urlParams.get("writeId")

        $(document).ready(function () {
            get_story()

        })

        function get_story() {
            $("#goodsList").empty()
            $.ajax({
                type: "GET",
                url: `/api/story/${writeId}`,
                data: {},
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                success: function (response) {
                    let write = response["story"]
                    if (write == null) {
                        alert("게시글존재하지않음")
                    } else {
                        console.log(write)
                        make_card(write)
                        get_remain()

                        for (rewrite of write["rewrite"]) {
                            make_re(rewrite)
                        }
                    }
                },
            })
        }

        function get_remain() {

            $.ajax({
                type: "GET",
                url: '/api/users/me',
                data: {},
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                success: function (response) {
                    let write = response["nickname"]

                    if (write == null) {
                        alert("정보가 존재하지않음")
                    } else {

                        make_remain(write)


                    }
                },
                error: function (request, status, error) {
                    alert("로그인을 해주세요");
                    window.location.href = '/login'
                },



            })
        }

        function make_card(item) {
            let htmlTemp = `
            <div class="col mb-4">
                <div class="card">
                    <img src="${item["thumbnailUrl"]}" onerror="this.src='/static/bhstudio.jpg'" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">${item["title"]}</h5>
                        <p class="card-text">${item["story"]}</p>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-info" onclick="location.href='revise?writeId=${item["writeId"]}'">수정하기</button>
            `
            $("#goodsList").append(htmlTemp)
        }

        function make_remain(item) {
            let htmlTemp = ` <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input type="text" id="toname" placeholder="비로그인 작성불가" 
                            value ="${item}"readonly />
                        </th>
                        <th>
                            <input type="text" id="rebody" placeholder="댓글" />
                        </th>
                        <th>
                            <button onclick="up_rewrite()">작성..!</button>
                        </th>
                    </tr>
                </thead>
                
            </table>`
            $("#goodsList").append(htmlTemp)
        }

        function make_re(item) {
            let htmlTemp = `
            <tr val = "${item["_id"]}">
                <th>
                    ${item["username"]}
                </th>
                <th id = "test">
                    <input type="text" id = "name" placeholder="댓글내용입력 해주세요" value="${item["rebody"]}" readonly>
                </th>
                <th>
                    <button onclick="pat_rewrite(this)"> 수정</button><button onclick="del_rewrite(this)"> 삭제</button>
                    <button class = "hide" onclick="dopat_rewrite(this)"> 완료</button><button class = "hide" onclick="fall_rewrite(this)"> 취소</button>
                </th>
            </tr>`
            $("#comment_list").append(htmlTemp)
        }

        function up_rewrite() {
            let name = $("#toname").val()
            let rebody = $("#rebody").val()
            if (rebody == "") {
                $("#rebody").focus()
                alert("빈칸이 없게 해주세요")
                return
            }
            $.ajax({
                type: "POST",
                url: `/api/rewrite/${writeId}`,
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                data: {
                    rebody: rebody,
                    username: name,
                },
                success: function (response) {
                    alert(response["result"])
                    get_story()
                    window.location.reload()
                },
                error: function (error) {

                    alert(error.responseJSON.errorMessage)


                },
            })
        }

        //댓글 수정
        function pat_rewrite(test) {

            const reid = $(test).parents("tr").attr('val')
            let a = $(test).parents("tr");
            $(a).children("#test").children("#name").removeAttr('readonly');
            const rebody = $(a).children("#test").children("#name").val();
            frewrite = $(a).children("#test").children("#name").val();
            $(test).parent().children("button").toggleClass("hide");
            $(a).children("#test").children("#name").val("")


        }
        //수정 완료!
        function dopat_rewrite(test) {
            const reid = $(test).parents("tr").attr('val')
            let a = $(test).parents("tr");
            const rebody = $(a).children("#test").children("#name").val();
            frewrite = $(a).children("#test").children("#name").val();
            $.ajax({
                type: "PATCH",
                url: `/api/rewrite/${writeId}`,
                data: {
                    rebody: rebody,
                    reid: reid
                },
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                success: function (response) {
                    alert(response["result"])
                    window.location.reload();
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                    window.location.reload();
                },
            })

        }
        //수정 취소
        function fall_rewrite(test) {
            console.log($(test).parents("tr").attr('val'))
            let a = $(test).parents("tr");
            //console.log($(a).children("#test").text().trim())
            $(a).children("#test").children("#name").attr('readonly', 'readonly');
            //$(a).children("#test").children("#name").removeAttr('readonly');
            console.log($(a).children("#test").children("#name").val())
            console.log($(test).parent().children("button"))
            $(test).parent().children("button").toggleClass("hide");
            $(a).children("#test").children("#name").val(frewrite)

        }
        //댓글삭제
        function del_rewrite(test) {
            if (confirm("정말 삭제하시겠습니까??") == false) {
                return;
            }
            const reid = $(test).parents("tr").attr('val')
            $.ajax({
                type: "DELETE",
                url: `/api/rewrite/${writeId}`,
                data: {
                    reid: reid
                },
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                success: function (response) {
                    alert(response["result"])
                    window.location.reload();
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                },
            })

        }


        function signOut() {
            localStorage.clear()
            window.location.href = "/"
        }
    </script>

    <style>
        html {
            overflow: auto;
        }

        .hide {
            display: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-sparta justify-content-end">
        <a class="navbar-brand" href="/">
            <img src="/static/bhstudio.jpg" width="30" height="30" class="d-inline-block align-top" alt="" />
            BH STUDIO
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse flex-grow-0 ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-right">
                <li class="nav-item" id="link-cart">
                    <a class="nav-link" href="/write"> 게시글올리기 </a>
                </li>
                <li class="nav-item" id="link-cart">
                    <a class="nav-link" href="/login"> 로그인 </a>
                </li>
                <li class="nav-item" id="link-logout">
                    <a class="nav-link" data-toggle="modal" data-target="#signOutModal" onclick="signOut()">
                        로그아웃<i class="fa fa-sign-out ml-2" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="wrap">
        <div id="goodsList">
            <div class="col mb-4">
                <div class="card">
                    <img src="/static/bhstudio.jpg" class="card-img-top" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <table class="table">
                <thead>
                    <!-- <tr>
                        <th>
                            <input type="text" id="toname" placeholder="비로그인 작성불가" readonly />
                        </th>
                        <th>
                            <input type="text" id="rebody" placeholder="댓글" />
                        </th>
                        <th>
                            <button onclick="up_rewrite()">작성..!</button>
                        </th>
                    </tr> -->
                </thead>
                <tbody id="comment_list">
                    <!-- <tr val="1">
                        <th>1</th>
                        <th>테스트</th>
                        <th><button onclick="pat_rewrite(this)">수정</button><button>삭제</button></th>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>